---
layout: default
title: Resume
ed:
  -
    heading: <b>Education</b>
    items:
      -
        title: MSc
        year: 2015
        detail: The University of Edinburgh. Dissertation&#58; <i>Machine Translation with Coarse Lexical Semantics</i>
      -
        title: M.S
        year: 2014
        detail: Università degli Studi di Genova. Dissertation&#58; <i>Cost Effective Open Source Platform for Empirical Robotics and AI</i>
      -
        title: B.S
        year: 2011
        detail: Università degli Studi di Genova
work:
  -
    heading: <b>Working experience</b>
    items:
      -
        title: Research Collaborator
        year: 2014
        detail: AIMS Lab, Università degli Studi di Genova
---
{% include lists.html categories=page.ed %}
{% include lists.html categories=page.work %}
