<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i> Email</a></li>
          {% if site.github_username %}
	  <li>
            <a href="https://github.com/{{ site.github_username }}">
		<i class="fa fa-github-square"></i>

              <span class="username"> {{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}
	  <li><a href="https://it.linkedin.com/in/mdamonte"><i class="fa fa-linkedin-square"></i> Linkedin</a></li>
	  {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
	      <i class="fa fa-twitter-square"></i>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
      </div>
</footer>
